<div class="services bg-white">
  <div class="container">
    <div class="row">
      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/icon-1.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/captain-hat.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 2</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/icon-shef.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 3</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/icon-service.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 4</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/icon-clean.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 5</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="service-card col-lg-4 col-md-6 col-sm-12">
        <div class="body">
          <div class="icon d-flex align-items-center">
            <img src="../../../assets/icon-jetski.png" alt="" />
          </div>
          <div class="content">
            <h5>Hizmet 5</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

