<div class="contact-page bg-white">
  <div class="header">
    <h4 class="text-primary">İletişim</h4>
    <h3 class="welcome-text">
      <span>Fiyat Almak Ve Detaylı Bilgi İçin...</span>
    </h3>
  </div>
  <div class="contact-items">
    <div class="container">
      <div class="contact-item">
        <h5>
          <i class="mr-2 mt-1 fas fa-map-marker-alt icon"></i> Marinturk Göcek
          Village Port
        </h5>
      </div>
      <div class="contact-item">
        <h5>
          <i class="mr-2 fa fa-phone icon" aria-hidden="true"></i>+90 532 632 89
          12
        </h5>
      </div>
      <div class="contact-item">
        <h5>
          <i class="mr-2 fas fa-envelope icon"></i>belizyachting@gmail.com
        </h5>
      </div>
      <div class="contact-item">
        <h5>
          <i class="mr-2 fab fa-instagram icon"></i
          ><a href="https://www.instagram.com/belizyat/?hl=tr">belizyat</a>
        </h5>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="site-section">
      <div class="container">
        <form action="https://formspree.io/xnqgypbq" method="POST">
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="label-text" for="fname">İsim</label>
              <input
                name="name"
                type="text"
                id="fname"
                class="form-control form-control-lg"
              />
            </div>
            <div class="col-md-6 form-group">
              <label class="label-text" for="lname">Soy İsim</label>
              <input
                name="surname"
                type="text"
                id="lname"
                class="form-control form-control-lg"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="label-text" for="eaddress">Email Adresi</label>
              <input
                name="_replyto"
                type="text"
                id="eaddress"
                class="form-control form-control-lg"
              />
            </div>
            <div class="col-md-6 form-group">
              <label class="label-text" for="tel">Tel. Numarası</label>
              <input
                name="contact-number"
                type="text"
                id="tel"
                class="form-control form-control-lg"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label class="label-text" for="message">Mesaj</label>
              <textarea
                name="message"
                id="message"
                cols="5"
                rows="10"
                class="form-control"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <input
                type="submit"
                value="Gönder"
                class="btn btn-primary rounded-0 px-3 px-5"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
