<div class="contact-page">
  <div class="form  bg-white">
    <div class="site-section">
        <div class="container">
         <form action="https://formspree.io/xnqgypbq" method="POST">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="label-text" for="fname">İsim</label>
                    <input name="name" type="text" id="fname" class="form-control form-control-lg">
                </div>
                <div class="col-md-6 form-group">
                    <label class="label-text" for="lname">Soy İsim</label>
                    <input name="surname" type="text" id="lname" class="form-control form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="label-text" for="eaddress">Email Adresi</label>
                    <input name="_replyto" type="text" id="eaddress" class="form-control form-control-lg">
                </div>
                <div class="col-md-6 form-group">
                    <label class="label-text" for="tel">Tel. Numarası</label>
                    <input name="contact-number" type="text" id="tel" class="form-control form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="label-text" for="message">Mesaj</label>
                    <textarea name="message" id="message" cols="5" rows="10" class="form-control"></textarea>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Gönder" class="btn btn-primary rounded-0 px-3 px-5">
                </div>
            </div>
         </form>
    </div>
  </div>
</div>
</div>