.contact-page {

  .header{
    padding-top: 50px;
  }
  .contact-items {
    padding: 50px 5px 30px 5px;
    @media only screen and (min-width: 765px) {
      display: none;
    }
    .contact-item {
      border-radius: 10px;
      border: 1px solid rgb(214, 214, 214);
      padding: 15px 15px;
      margin-bottom: 10px;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

      .icon {
        color: #1089ff;
      }
    }
  }

  .form {
    padding: 30px 5px;
  }
  .site-section {
    #message {
      resize: none;
    }
  }

  .label-text {
    color: #1089ff !important;
    font-size: 20px;
  }
}
