<div class="footer">
  <div class="container footer-content">
    <div class="row justify-content-center">
      <div class="logo col-lg-12 col-md-12 col-sm-12">
        <img
          src="../../../assets/logo-text.png"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="ourinfo col-lg-3 col-md-3 col-sm-12">
        <div class="footer-header">
          <h5><span>Biz Kimiz ?</span></h5>
        </div>
        <div class="link-group">
          <a class="link" href="/about"><p>Hakkımızda</p></a>
          <a class="link" href="/services"><p>Hizmetlerimiz</p></a>
          <a class="link" href="/team"><p>Ekibimiz</p></a>
          <a class="link" href="/tours"><p>Tur Çeşitleri</p></a>
        </div>
      </div>
      <div class="services col-lg-3 col-md-3 col-sm-12">
        <div class="footer-header">
          <h5><span>Hizmetlerimiz</span></h5>
        </div>
        <div class="link-group">
          <p class="link" href="#">Su Sporları</p>
          <p class="link" href="#">Yemek & Servis</p>
          <p class="link" href="#">Housekeeping</p>
        </div>
      </div>
      <div class="contact col-lg-3 col-md-3 col-sm-12">
        <div class="footer-header">
          <h5><span>İletişim</span></h5>
        </div>
        <div class="link-group">
          <div class="link d-flex" ><i class="mr-2 mt-1 fas fa-map-marker-alt"></i><span class="text-dark">Marinturk Göcek Village Port</span></div>
          <div class="link d-flex align-items-center  mt-3" ><i class="mr-2 fa fa-location-arrow" aria-hidden="true"></i><span class="text-dark">+90 532 632 89 12</span></div>
          <div class="link d-flex align-items-center  mt-3" ><i class="mr-2 fa fa-phone" aria-hidden="true"></i><span class="text-dark">belizyachting@gmail.com</span></div>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; 2020 Gizem Ay</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
