<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Anasayfa <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Hizmetlerimiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/team">Ekibimiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tours">Tur Çeşitleri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/photos">Fotoğraflar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
