<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <a class="brand-link" routerLink="/">
    <div class="brand d-flex justify-around">
      <div class="logo">
        <img class="toggler-logo" src=".../../../../../assets/logo-white.png" alt="">
      </div>
      <div class="text mt-1 text-white">
        <p>eliz</p>
      </div>
    </div>
  </a>
  <button class="navbar-toggler d-flex align-items-center text-white" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="mr-2 p-2 icon"><i class="far fa-compass toggler-icon"></i></span>
    <p class="m-0 p-1 text-white">MENU</p>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Anasayfa <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/specifications">Tekne Özellikleri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Hizmetlerimiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/team">Ekibimiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tours">Tur Çeşitleri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/photos">Fotoğraflar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>