<div class="tours bg-white">
    <div class="container">
        <div class="row">
            <div class="header col-12">
                <h1 class="text-primary">TUR ÇEŞİTLERİ</h1>
              </div>
          <div class="col-md-6 col-xs-6" style="padding: 40px 0;">
            <div class="card">
              <div class="image">
                <img src="../../../assets/34.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Günlük</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Fiyat Alınız.</a>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-6 col-xs-6" style="padding: 40px 0;">
            <div class="card">
              <div class="image">
                <img src="../../../assets/12.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Haftalık</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Fiyat Alınız</a>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-6 col-xs-6" style="padding: 40px 0;">
            <div class="card">
              <div class="image">
                <img src="../../../assets/10.JPG" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Aylık</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Fiyat Alınız</a>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-6 col-xs-6" style="padding: 40px 0;">
            <div class="card">
              <div class="image">
                <img src="../../../assets/25.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Yurtdışı</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Fiyat Alnız</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
</div>

