<div class="top-card">
  <div class="container items">
    <div class="row align-items-center">
      <div class="logo col-3 col-xs-1">
        <img
          src="../../../assets/logo-text.png"
          alt="Image"
          class="img-fluid"
        />
      </div>

      <div class="col-3 d-none d-lg-block">
        <div class="quick-contact-icons d-flex">
          <div class="icon align-self-start">
            <span class="icon-location-arrow mr-4 text-white"
              ><i class="fa fa-location-arrow" aria-hidden="true"></i>
            </span>
          </div>
          <div class="text">
            <span class="title d-block">Telefon</span>
            <span class="caption-text">+90 111 189 154</span>
          </div>
        </div>
      </div>

      <div class="col-3 d-none d-lg-block">
        <div class="quick-contact-icons d-flex">
          <div class="icon align-self-start">
            <span class="icon-phone mr-4 text-white"
              ><i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </div>
          <div class="text">
            <span class="title d-block">Mail Adresi</span>
            <span class="caption-text">belizyachting@gmail.com</span>
          </div>
        </div>
      </div>

      <div class="col-3 d-none d-lg-block">
        <div class="quick-contact-icons d-flex">
          <div class="icon align-self-start">
            <span class="icon-envelope mr-4 text-white"
              ><i class="fab fa-instagram"></i>
            </span>
          </div>
          <div class="text">
            <span class="title d-block">İnstagram</span>
            <a class="instagram-link" href="https://www.instagram.com/belizyat/?hl=tr"><span class="caption-text">belizyat</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
