.top-card{
    background-color: #F8F9FA !important;

    .text{
        .title{
            font-size: 17px;
            font-weight: 600;
        }
    }
}

.logo{
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
    margin-right: 60px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.icon-envelope,.icon-phone,.icon-location-arrow{
    font-size: 16px;
    padding: 10px 12px;
    border-radius: 50%;   
    background-color: #1089ff;
    color: snow;
}

.icon{
    padding-top: 10px;
}

.items{
    padding: 25px 0;
}

@media only screen and (max-width: 600px) {
    .top-card{
        display: none;
    }
  }