<div class="about-card">
  <div class="container">
    <div class="row">
      <div class="image col-lg-6 col-xs-12">
        <img src="../../../assets/34.jpg" alt="" />
      </div>
      <div class="content col-lg-6 col-xs-12">
        <div class="header">
          <h4 class="text-primary">Hakkımızda</h4>
          <h3 class="welcome-text">
            <span>Öncelikle Sitemize Hoşgeldiniz.</span>
          </h3>
        </div>
        <div class="info-group">
          <p class="info-text text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum,
            illum, quasi. Odit velit deserunt eligendi unde, enim. Enim fugiat.
          </p>
          <p class="info-text text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium eius ullam impedit architecto debitis facilis!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
