<div class="numbers-card bg-blue">
    <div class="card-items container">
      <div class="row justify-content-around">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <p class="number">05</p>
          <p class="text">Yıllık Tecrübe</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <p class="number">04</p>
          <p class="text">Personel</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <p class="number">25</p>
          <p class="text">Mutlu Müşteri</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <p class="number"><i class="fas fa-infinity"></i></p>
          <p class="text">Hizmet</p>
        </div>
      </div>
    </div>
  </div>
