<div class="team bg-white">
  <div class="container">
    <div class="row">
      <div class="header col-12">
        <div class="header content">
          <h2 class="text-primary">Ekibimiz</h2>
          <h3 class="welcome-text"><span>Tatiliniz Boyunca Size Eşlik Edecek Uzman Ekibimiz...</span></h3>
        </div>
      </div>
      <div class="team-card col-lg-6 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../../assets/erendiker.JPG"
                alt="Avatar"
                class="image"
              />
              <div class="front-texts">
                <h1>Kaptan</h1>
                <p>Bilgi için görsele tıklayınız.</p>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="back-texts">
                <h3>Eren Diker</h3>
                <p>
                  This is basic card with image on top, title, description and
                  button.This is basic card with image on top, title,
                  description and button.This is basic card with image on top,
                  title, description and button.
                </p>
                <div class="social-icons d-flex justify-content-center">
                  <i class="fab fa-facebook text-blue icon"></i>
                  <i class="fab fa-twitter text-blue icon"></i>
                  <i class="fab fa-instagram text-blue icon"></i>
                  <i class="fab fa-google text-blue icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-card col-lg-6 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt="Avatar"
                class="image"
              />
              <div class="front-texts">
                <h1>Aşcı</h1>
                <p>Bilgi için görsele tıklayınız.</p>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="back-texts">
                <h3>İsim</h3>
                <p>
                  This is basic card with image on top, title, description and
                  button.This is basic card with image on top, title,
                  description and button.This is basic card with image on top,
                  title, description and button.
                </p>
                <div class="social-icons d-flex justify-content-center">
                  <i class="fab fa-facebook text-blue icon"></i>
                  <i class="fab fa-twitter text-blue icon"></i>
                  <i class="fab fa-instagram text-blue icon"></i>
                  <i class="fab fa-google text-blue icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-card col-lg-6 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
                alt="Avatar"
                class="image"
              />
              <div class="front-texts">
                <h1>Gemici</h1>
                <p>Bilgi için görsele tıklayınız.</p>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="back-texts">
                <h3>İsim</h3>
                <p>
                  This is basic card with image on top, title, description and
                  button.This is basic card with image on top, title,
                  description and button.This is basic card with image on top,
                  title, description and button.
                </p>
                <div class="social-icons d-flex justify-content-center">
                  <i class="fab fa-facebook text-blue icon"></i>
                  <i class="fab fa-twitter text-blue icon"></i>
                  <i class="fab fa-instagram text-blue icon"></i>
                  <i class="fab fa-google text-blue icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-card col-lg-6 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                alt="Avatar"
                class="image"
              />
              <div class="front-texts">
                <h1>Hostes</h1>
                <p>Bilgi için görsele tıklayınız.</p>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="back-texts">
                <h3>İsim</h3>
                <p>
                  This is basic card with image on top, title, description and
                  button.This is basic card with image on top, title,
                  description and button.This is basic card with image on top,
                  title, description and button.
                </p>
                <div class="social-icons d-flex justify-content-center">
                  <i class="fab fa-facebook text-blue icon"></i>
                  <i class="fab fa-twitter text-blue icon"></i>
                  <i class="fab fa-instagram text-blue icon"></i>
                  <i class="fab fa-google text-blue icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

